*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header{
    background: #3333;
    color: white;
    padding: 20px;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;

}

nav a{
    color: white;
    text-decoration: none;
}

section{
    padding: 20px;
}

#about{
    text-align: center;
}


#about img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #007bff;
    transition: 0.3s;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about img:hover{
    transform: scale(1.05);
}


.project{
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

#form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

input, textarea{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button{
    background: #007bff;
    color: white;
    border: none;
    padding:12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;

}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){
    nav ul{
        flex-direction: column;
    }
    
    section{
        padding: 20px;
    }

    #about img{
        width: 120px;
    }
}